<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.muhammed.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity"
        >
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4763830311171299~7162069605"/>
        <activity
            android:name=".HepsiZKResultActivity"
            android:theme="@style/ZKresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HepsiZKActivity"
            android:theme="@style/Alti"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AvustralyaZKResultActivity"
            android:theme="@style/ZKresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AvustralyaZKActivity"
            android:theme="@style/Alti"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AfrikaZKResultActivity"
            android:theme="@style/ZKresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AfrikaZKActivity"
            android:theme="@style/Alti"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GamerikaZKResultActivity"
            android:theme="@style/ZKresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GamerikaZKActivity"
            android:theme="@style/Alti"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KamerikaZKResultActivity"
            android:theme="@style/ZKresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KamerikaZKActivity"
            android:theme="@style/Alti"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AsyaZKResultActivity"
            android:theme="@style/ZKresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AsyaZKActivity"
            android:theme="@style/Alti"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AvropaZKResultActivity"
            android:theme="@style/ZKresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AvropaZKActivity"
            android:theme="@style/Alti"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AvustralyaTabloActivity"
            android:theme="@style/Tablo"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AfrikaTabloActivity"
            android:theme="@style/Tablo"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GamerikaTabloActivity"
            android:theme="@style/Tablo"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KamerikaTabloActivity"
            android:theme="@style/Tablo"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AsyaTabloActivity"
            android:theme="@style/Tablo"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AvropaTabloActivity"
            android:theme="@style/Tablo"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KamerikaAltiResultActivity"
            android:theme="@style/Altiresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KamerikaAltiActivity"
            android:theme="@style/Alti"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HepsiAltiResultActivity"
            android:theme="@style/Altiresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HepsiAltiActivity"
            android:theme="@style/Alti"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GamerikaAltiResultActivity"
            android:theme="@style/Altiresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GamerikaAltiActivity"
            android:theme="@style/Alti"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AvustralyaAltiActivity"
            android:theme="@style/Alti"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AvustralyaAltiResultActivity"
            android:theme="@style/Altiresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AfrikaAltiResultActivity"
            android:theme="@style/Altiresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AfrikaAltiActivity"
            android:theme="@style/Alti"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AsyaAltiResultActivity"
            android:theme="@style/Altiresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AsyaAltiActivity"
            android:theme="@style/Alti"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AvropaAltiResultActivity"
            android:theme="@style/Altiresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AvropaAltiActivity"
            android:theme="@style/Alti"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Hepsi4B1UResultActivity"
            android:theme="@style/dordbayraq1ulkeresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Hepsi4B1UActivity"
            android:theme="@style/dordbayraq1ulke"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Avustralya4B1UResultActivity"
            android:theme="@style/dordbayraq1ulkeresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Avustralya4B1UActivity"
            android:theme="@style/dordbayraq1ulke"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Afrika4B1UResultActivity"
            android:theme="@style/dordbayraq1ulkeresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Afrika4B1UActivity"
            android:theme="@style/dordbayraq1ulke"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Gamerika4B1UActivity"
            android:theme="@style/dordbayraq1ulke"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Gamerika4B1UResultActivity"
            android:theme="@style/dordbayraq1ulkeresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Kamerika4B1UResultActivity"
            android:theme="@style/dordbayraq1ulkeresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Kamerika4B1UActivity"
            android:theme="@style/dordbayraq1ulke"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Asya4B1UResultActivity"
            android:theme="@style/dordbayraq1ulkeresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Asya4B1UActivity"
            android:theme="@style/dordbayraq1ulke"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Avropa4B1UResultActivity"
            android:theme="@style/dordbayraq1ulkeresult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Avropa4B1UActivity"
            android:theme="@style/dordbayraq1ulke"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Hepsi1B4UResultActivity"
            android:theme="@style/birbayraq4ulke"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Hepsi1B4UActivity"
            android:theme="@style/DogruYanlisResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Avustralya1B4UResultActivity"
            android:theme="@style/birbayraq4ulke"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Avustralya1B4UActivity"
            android:theme="@style/DogruYanlisResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Afrika1B4UResultActivity"
            android:theme="@style/birbayraq4ulke"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Afrika1B4UActivity"
            android:theme="@style/DogruYanlisResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Gamerika1B4UResultActivity"
            android:theme="@style/birbayraq4ulke"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Gamerika1B4UActivity"
            android:theme="@style/DogruYanlisResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Kamerika1B4UResultActivity"
            android:theme="@style/birbayraq4ulke"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Kamerika1B4UActivity"
            android:theme="@style/DogruYanlisResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Asya1B4UResultActivity"
            android:theme="@style/birbayraq4ulke"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Asya1B4UActivity"
            android:theme="@style/DogruYanlisResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Avropa1B4UResultActivity"
            android:theme="@style/birbayraq4ulke"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Avropa1B4UActivity"
            android:theme="@style/DogruYanlisResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HepsiDYResultActivity"
            android:theme="@style/DogruYanlisResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HepsiDYActivity"
            android:theme="@style/DogruYanlis"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AvustralyaDYActivity"
            android:theme="@style/DogruYanlis"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AvustralyaDYResultActivity"
            android:theme="@style/DogruYanlisResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AfrikaDYResultActivity"
            android:theme="@style/DogruYanlisResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AfrikaDYActivity"
            android:theme="@style/DogruYanlis"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GamerikaDYResultActivity"
            android:theme="@style/DogruYanlisResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GamerikaDYActivity"
            android:theme="@style/DogruYanlis"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KamerikaDYResultActivity"
            android:theme="@style/DogruYanlisResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KamerikaDYActivity"
            android:theme="@style/DogruYanlis"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AsyaDYResultActivity"
            android:theme="@style/DogruYanlisResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AsyaDYActivity"
            android:theme="@style/DogruYanlis"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AvropaDYResultActivity"
            android:theme="@style/DogruYanlisResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AvropaDYActivity"
            android:theme="@style/DogruYanlis"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AvrupaActivity"
            android:label="@string/label1"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Avrupagiris"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AsyaActivity"
            android:label="@string/label2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Avrupagiris"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KamerikaActivity"
            android:label="@string/label3"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Avrupagiris"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GamerikaActivity"
            android:label="@string/label4"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Avrupagiris"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AfrikaActivity"
            android:label="@string/label5"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Avrupagiris"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AvustralyaActivity"
            android:label="@string/label6"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Avrupagiris"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HepsiActivity"
            android:label="@string/label7"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Avrupagiris"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>